<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> liste de tous les comptes </title>
<!-- Chargement Police Roboto -->
<link href="https://fonts.googleapis.com/css?family=Roboto"	rel="stylesheet">
	<!-- Chargement Police FontAwesome -->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
		integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
		crossorigin="anonymous">
		<!-- Chargement Feuille de style principale -->
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<header>
	<div class="container">
		<div class="elements">
			<a href="index.html">Gesti<small> Bank</small></a>

			<nav>
			<ul>
				<li>Bienvenue</li>
				<li><a href="/disconnect">D&eacuteconnexion</a></li>
			</ul>
			</nav>
			<a href="#" class="header__icon" id="header__icon"></a>
		</div>
	</div>
	</header>
    <main>
	<div class="block" id="presentation">
		 <div class="container" >
		<p>Liste des comptes bancaires.</p>
		<table class="table" style="background-color: white; box-shadow: 0.625rem 0.625rem 1.875rem #555;">
        <thead>
            <tr>
                <th th:text="#{label.accountid}"></th>
                <th>IBAN</th>
                <th th:text="#{label.balance}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${list}">  
                <td th:text="${account.id}">Account ID</td>
                <td th:text="${account.IBAN}">Name</td>
                <td th:text="${account.balance}">Brand</td>
            </tr>
        </tbody>
    </table>
</div>
	</div>
	</main>


	<footer>
	<div class="container">

		<div class="elements">
			<p>Copyright 2020</p>

			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/GestiBank/"
						target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
					<li><a href="https://www.youtube.com/Gestibank/"
						target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
					<li><a href="https://twitter.com/gestibank/" target="_blank"><i
							class="fab fa-twitter fa-2x"></i></a></li>
				</ul>
			</div>
		</div>

	</div>
	</footer>   
</body>
</html>