<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Account viewer</title>
</head>
<body>
<div align="center">
    <h1>Account list</h1>
    <a href="/request">request</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>IBAN</th>
                <th>balance</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${list}">
                <td th:text="${account.id}">Product ID</td>
                <td th:text="${account.IBAN}">Name</td>
                <td th:text="${account.balance}">Brand</td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>