<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link th:href="@{/styles/theme1/main.css}" rel="stylesheet" />
</head>
<body>
    <h2 th:text="#{title.hello}">Titre</h2>
    <p th:text="#{special.sentence}">Ce texte sur lequel nous souhaitons appliquer un style <strong th:text="#{very.special}">très spécial</strong>.
        
        <h1 th:text="#{message.greeting}">Bonjour toto! Bienvenue sur notre site!</h1>
    </p>
</body>
</html>